*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(122, 16, 16);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} 


body {
  background-color: rgb(122, 16, 16);
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  
}

.container-page {
  display: flex;
  flex-direction: column;
}

.container-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-name-app {
  font-family: 'Monoton', cursive;
  color: rgb(207, 207, 15);
  font-size: 5em;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1.5;
  font-weight: 400;
  

}


.search-container{
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 10px;
  background-color: rgb(252, 206, 206);
  border-radius: 10px ;
  width: 400px;
  height: 50px ;
}
.search-input{
  position: relative;
  border: none;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding: px;
}


.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-div{
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  border-radius: 70px;
  border-top: 1px solid black;
  width: 300px;
  height: 350;
}

.infoMovie{
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(122, 16, 16);
  font-family: 'Monoton', cursive;
  font-size: 2.2em;
  line-height: 1.5;
}


img{

  border: 1px solid black;
  max-width: 100%;
}

.infoMovie {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.2;


}

/* h1{
  font-family: 'Monoton', cursive;
  font-size: 2.2em;
  line-height: 1.1;

} */


/*button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  .poster{
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/

