*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(122, 16, 16);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} 


body {
  background-color: rgba(42, 46, 56, 0.75);
  display: flex;

  
}


.container-header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-name-app {
  font-family: 'Monoton', cursive;
  color: rgb(206, 206, 114);
  font-size: 6em;
  line-height: 1.5;
  line-height: 1.5;
  font-weight: 400;
  -webkit-box-shadow: 100px 32px 47px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 100px 32px 47px 0px rgba(0,0,0,0.75);
 box-shadow: 100px 32px 47px 0px rgba(0,0,0,0.75);
 background: linear-gradient(rgb(212, 77, 15), rgba(14, 16, 22, 0.75));
}


.search-container{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-content: center;
  padding: 10px;
  background-color: rgb(252, 206, 206);
  border-radius: 10px ;
  width: 400px;
  height: 50px ;
}
.search-input{
  position: relative;
  border: none;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding: px;
}


.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}
.card-div{
  /* background-color: rgb(151, 179, 180);
  padding: 15px 50px 15px 50px;
  margin-bottom: 10px;
  border-radius: 50px;
  width: 300px;
  height: 500px;
  align-items: center; */
  color: aliceblue;
  float: left;
  padding: 15px 50px 15px 50px;
  -ms-flex-item-align:center;
  width:300px;
  height: 500px;
  background: linear-gradient(rgb(122, 16, 16), rgba(14, 16, 22, 0.75));
  border-radius: 15px;
  font-size: 16px;
  margin: 16px; 
}
.card-div:hover,
section:active{
  background:rgb(136, 8, 8) ;
}

.infoMovie{
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(66, 3, 3);
  font-family: 'Monoton', cursive;
  font-size: 2.2em;
  line-height: 1.5;
}


img{
  border: 10px solid black;
  max-width: 100%;
}

.infoMovie {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.2;


}

/* h1{
  font-family: 'Monoton', cursive;
  font-size: 2.2em;
  line-height: 1.1;

} */


/*button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

@media (max-width: 768px) {

  body {
    background-color: rgba(45, 69, 141, 0.75);
    display: flex;
    
  }
  .poster{
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    align-items: center;
  }
  
  .header-name-app {
    font-family: 'Monoton', cursive;
    color: rgb(206, 206, 114);
    font-size: 3em;
    font-weight: 400;
  }
  
.card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: auto;

}
}

